#wrapper {
	text-align:center;
}

#header {
	clear:both;
	text-align: right;
}

/*Contains #menu and #main_frame*/

#main { 
	height:300px
}

#menu {
	float:left; 
	width:20%; 
}

/* Contains main data output from tables*/
#main_frame {
	float: left; 
	width:78%; 
}

#footer {
	clear:both; 
	padding:7px;
	text-align: center;
}

/* Formating for add_vendor, add_product forms */
#add, #edit {
	text-align:left;
}
